.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
}
.error {
  color: #d8000c;
  font-size: 14px;
  margin-top: 5px;
}
.card {
  background-color: white;
  padding: 24px;
  width: 350px;
  min-height: 50vh;
  border-radius: 10px;
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  background-color: #2563eb;
  color: white;
  margin-top: 15px;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.link {
  color: #f39228;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}